@font-face
  font-family: "Meslo LG"
  src: url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Meslo LG"
  src: url("../lib/meslo-LG/MesloLGS-Italic.ttf") format("truetype")
  font-weight: normal
  font-style: italic

@font-face
  font-family: "Meslo LG"
  src: url("../lib/meslo-LG/MesloLGS-Bold.ttf") format("truetype")
  font-weight: 700
  font-style: normal

@font-face
  font-family: "Meslo LG"
  src: url("../lib/meslo-LG/MesloLGS-BoldItalic.ttf") format("truetype")
  font-weight: 700
  font-style: italic

@font-face
  font-family: "ClearSans"
  src: url("../lib/clear-sans/ClearSans-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ClearSans"
  src: url("../lib/clear-sans/ClearSans-Italic.ttf") format("truetype")
  font-weight: normal
  font-style: italic

@font-face
  font-family: "ClearSans"
  src: url("../lib/clear-sans/ClearSans-Bold.ttf") format("truetype")
  font-weight: 700
  font-style: normal

@font-face
  font-family: "ClearSans"
  src: url("../lib/clear-sans/ClearSans-BoldItalic.ttf") format("truetype")
  font-weight: 700
  font-style: italic
