<div id="archive">
  <% if ( is_tag() ) { %>
    <%- partial('_partial/tag-filter') %>
  <% } else { %>
    <%- partial('_partial/thoughts', {limit: null}) %>
    <%- partial('_partial/pagination') %>
  <% } %>
</div>
